.color-picker {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #ffffff4f;
  cursor: pointer;
  padding: 0;
  outline: none;
  background: var(--bg);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.color-picker::-webkit-color-swatch-wrapper {
  padding: 0;
}

.color-picker::-webkit-color-swatch {
  border: none;
  border-radius: 50%;
}
